*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
body{
    height: 100%;
    background: rgb(232, 248, 225);

}
.container{
    background: rgb(255, 255, 255);     
    height: 50px;
}
.container ul{
    display: flex;
    justify-content: end;
    list-style-type: none;
}
#underline,#green{
    text-decoration: none;
}
.container li{
    font-family: 'Yeon Sung', Times, serif;
    margin: -2% 5% 0% 0%;
    font-size: 20px;
    font-weight: bold;
}
.container li a{
    color: rgb(36, 0, 41);
}
.menu-container a{
    color:rgb(36, 0, 41) ;
}
.green {
    font-size: 22px;
}
.logo{
    margin: 0 0 0% 2%;
}
.Register{
    margin-top: -25%;
    width: 100px;
    padding: 4px 0;
    border: 2.5px solid #42e084;
    background: none;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Yeon Sung', Times, serif;
    font-weight: bold;
    font-size: 17px;
}
.wrapper{
    background-color: transparent;
    height: auto;
    width: 35%;
    margin: 10% 0 0 18%;
}
.title {
    font-size: 2.2rem;
    color: black;
    margin-bottom: 25px;
    text-align: centre;
    margin-left: 29%;
    font-family: 'Yeon Sung', Times, serif;
}

.input-field{
    max-width: 380px;
    width: 100%;
    height: 50px;
    background-color: #f0f0f000;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
    border: 2.5px solid #42e084;
    }
    
    .input-field input {
        background: none;
        outline: none;
        border: none;
        line-height: 1;
        font-weight: 600;
        font-size: 1.2rem;
        color: #333;
        padding-left: 75px;
        font-family: 'Yeon Sung', Times, serif;
    }
    .input-field img{
        margin:15% 0 0 100%;
    }
    .input-field input::placeholder-shown
    {
        color: #aaa;
        font-weight: 500;
    }
    
    .btn {
        width: 150px;
        height: 49px;
        outline: none;
        border: 2.5px solid #068f3f;
        border-radius: 48px;
        background-color: #42e084a8;
        color: white;
        text-transform: uppercase;
        font-weight: 600%;
        transition: all 0.5s;
        margin: 2% 0 0 25%;
        cursor: pointer;
        font-size: 20px;
        font-family: 'Yeon Sung', Times, serif;
    }
    
    .btn:hover {
        background: color #00bfa6; 
    }
    .paragh{
        margin: 4% 0 0 20%;
        font-size: 18px;
        font-family: 'Yeon Sung', Times, serif;
    }
    .signup{
        cursor: pointer;
        font-size: 18px;
        height: 30px;
        width: 100px;
        background-color: #42e084;
        color: #ffffff;
        border: 1.5px solid #000a04;
        border-radius: 20px;
        font-family: 'Yeon Sung', Times, serif;
    }
    #signup{
        text-decoration: none;
    }
.back-image{
    margin:-30% 0 0 45%;
}